<section class="listings">
    <div class="items-wrapper">
        <%jackets.each do |item|%>
        <div class="items">
            <a href="/items/<%=item['id']%>">
                <img src="<%= item['image_url'] %>" alt="">
            </a>
            <p class="item-details">
                <span> <%= item['designer'] %> </span>
                <span id="price"> $<%= item['price'] %> <%=item['currency']%></span>
            </p>
        </div>
        <% end %>
    </div>
</section>